<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/images/icofont/icofont/icofont.min.css">
    <title>payment</title>
</head>
<body class="bg-primary text-dark">
    <%- include('./layout/header'); -%>
    <div class="container mt-2 mt-lg-5">
      <div class="row row-cols-1 justify-content-center pt-lg-1">
        <div class="col col-lg-6">
            <div class="progressBox d-flex align-items-center  mb-2 px-3 px-lg-2">
              <div class="stepBox bg-dark border d-flex  justify-content-center align-items-center">
                <i class="icofont-verification-check text-warning "></i>
              </div>
              <div class="w-100">
                <div class="border border-1 border-dark w-100"></div>
              </div>
              <div class="stepBox bg-dark border d-flex  justify-content-center align-items-center ">
                <div class="   text-warning  ">2</div>
              </div>
              <div class="w-100">
                <div class="border border-1 border-dark w-100"></div>
              </div>
              <div class="stepBox border d-flex  justify-content-center align-items-center ">
                <div class="  text-dark  bg-primary font-style-1 fw-bold">3</div>
              </div>

            </div>
            <div class="progressBox_text d-flex align-items-center justify-content-between fw-bold mb-6 mb-lg-7">
              <p>訂單確認</p>
              <p>結帳付款</p>
              <p>訂購結果</p>
            </div>
            <h2 class="fs-xl text-center fw-bold mb-5 mb-lg-6">返老還童-制服聯誼</h2>
            <div class="bg-dark text-warning text-center mb-5 mb-lg-6 p-2 fs-6 font-style-2 mx-lg-n3">
              <p class=" mx-lg-n3">您的訂單已保留，請在2023/5/30 04:32 前完成繳費。若逾期未繳款，系統將取消您的訂單。</p>

            </div>

          <table class="table table-hover mb-6 mb-lg-7">
              <tr class="border-top border-2 align-middle">
                <th>訂單編號</th>
                <td class="text-end font-style-2">892746123</td>

              </tr>
              <tr class="align-middle">
                <th class="py-4 py-lg-2">票券</th>
                <td class="text-end font-style-2">改頭換面票（含大改造）$8000</td>

              </tr>
          </table>

          <div class="d-flex flex-column align-items-center mb-4">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler圖片" style="width: 32px;height: 32px;" class="mb-4">
            <h4 class="fw-bold">結帳資訊</h4>
          </div>
          <form action="index.html" class="font-style-2" >
            <label for="idNumber" class="mb-2">取票資訊:</label>
            <input type="text" id="idNumber" name="idNumber" placeholder="請輸入身分證字號或護照號碼" class="w-100 rounded-0 border border-2 fs-5 py-2 px-4 mb-1">
            <p class="mb-4">請輸入您的 <span class="text-danger">身分證字號</span>供取票使用，外籍人士請輸入 <span class="text-danger">護照號碼</span></p>
            <fieldset>
              <legend class="mb-2">付款方式</legend>
            
              <div class="mb-2">
                <input type="radio" id="credit_card" name="payment_methods" value="信用卡" class="me-2"/>
                <label for="credit_card">信用卡</label>
              </div>
            
              <div class="mb-5 mb-lg-6">
                <input type="radio" id="atm" name="payment_methods" value="ATM虛擬帳號" class="me-2"/>
                <label for="atm">ATM虛擬帳號</label>
              </div>
            </fieldset>
            <div class="d-flex flex-column col col-lg-9 mx-auto mb-7 mb-lg-8">
              <a href="outcome.html" class=" fs-5 bg-dark"><button type="button" class="py-2 bg-dark text-light fw-bold w-100 border-0">確認訂單並繳費 $8000&nbsp; &raquo;</button></a>
            </div>
        </form>

        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>
